# --- Kökte her şeyi yoksay ---
/*

# --- İstisnalar: sadece bunlar repoya girsin ---
!.gitignore
!.gitattributes
!.env.example
!README.md
!compose.yml
!/logstash/
!/filebeat/
!/winlogbeat/
!/docs/

# --- İzin verilen dizinlerin içindeki istenmeyenler ---
**/.env
**/.env.*
!**/.env.example
**/*.key
**/*.pem
**/*.crt
**/*.p12
**/*.pfx
**/*.jks
**/certs/
**/*.save
**/*.bak
**/*.orig
**/*.log
**/*.swp
**/*~
